@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.lit-img-clip {
    background-size: 100% 100%;
    background-position: center;
}

.mac-2 {
    max-height: 10%;
    min-width: 250px;
    width: 300px;
}

.mac {
    max-height: 250px;
    min-width: 250px;
    width: 300px;
}